*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pem
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
secrets.yaml
secrets
known_devices.yaml
.uuid
ipchange.yaml
.google.token
.spotify-token-cache
__pycache__
.config_entries.json
.storage
.cloud

